.nav {
    display: flex;
    justify-content: space-between;
    width: 380px;
    align-items: center;


    &__item {
        font-family: freshman-webfont, sans-serif;
        font-size: 2rem;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        margin: 5px;

        &:hover {
            animation: toTop;
            animation-duration: 0.2s;
            color: #f58854;

        }
    }
}