$color-primary: #195484;
$color-secondary: #f58220;
$font-color-primary: #ffffff;
$font-color-secondary: #454545;
$font-default: Arial,
Helvetica,
sans-serif;
$font-size-default: 1.6rem;
$font-size-nav: 1.8rem;
$phone: 375px;
$tablet: 810px;
$col-01:(width: 8.33%*1);
$col-02:(width: 8.33%*2);
$col-03:(idth: 8.33%*3);
$col-04:(width: 8.33%*4);
$col-05:(width: 8.33%*5);
$col-06:(width: 8.33%*6);
$col-07:(width: 8.33%*7);
$col-08:(width: 8.33%*8);
$col-09:(width: 8.33%*9);
$col-10:(width: 8.33%*10);
$col-11:(width: 8.33%*11);
$col-12:(width: 8.33%*12);